* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
.heading {
  font-family: "Merriweather", serif;
}
.app {
  display: flex;
  position: relative;

  .sidebar {
    display: block;
  }
}

.content {
  position: relative;
  margin-left: 24vw;
  width: calc(100vw - 24vw);
  transition: margin-left 0.3s ease, width 0.3s ease;
}
.about-intro {
  margin: 0;
  min-width: 75vw;
  background-image: linear-gradient(to right, #000000, rgb(18, 17, 17));
  .about-image {
    img {
      max-width: 250px;
      height: auto;
      border-radius: 30px;
    }
  }
  .flex {
    .head {
      display: flex;
      flex-direction: column;
    }
  }

  .paragraph {
    border-top: 1px grey solid;
    display: flex;
    text-align: justify;
    line-height: 2;
    width: 35vw;
  }
}
.home {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-image: url(https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  // overflow: hidden;
  .menu-button {
    display: none;
  }
  .me {
    margin-top: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bold;

    .name {
      font-size: 2rem; /* Default font size for larger screens */
    }

    .intro {
      font-size: 1.5rem; /* Default font size for larger screens */
    }
  }
}

.me,
.home {
  min-width: 75vw;
}

.resume {
  margin: 0;
  left: 12px;
  width: 100%;
  background-color: rgb(206, 197, 197);
  .heading {
    margin-bottom: 50px;
  }
  .resume-content {
    width: 70vw;
    margin: 0 5vw 5vw 5vw;
    padding-left: 10px;
    border-left: 3px solid grey;
    .resume-topic {
      font-weight: bold;
      font-size: 28px;
    }
    .resume-title {
      font-size: 20px;
      font-weight: bold;
      color: rgb(132, 122, 110);
    }
  }
}

.sidebar {
  width: 24vw !important;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  background-color: grey;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    .image {
      margin: 10px;
      width: 150px;
      height: 150px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 50%;
      }
    }

    .name {
      font-size: 18px;
    }

    .icons {
      .fb {
        display: inline-block;

        a {
          color: black;
        }
      }
    }
  }

  nav {
    margin-top: 40px;
    li :active {
      border-radius: 5px;
      background-color: rgb(133, 116, 116);
    }

    li {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      align-items: center;
      gap: 8px;
      padding: 15px;
      list-style-type: none;
      cursor: pointer;
      a {
        text-decoration: none;
        color: black;
        transition: border-radius 0.5s;
        a:hover li {
          // border-radius: 10px;
          background-color: white;
        }
      }

      .icon {
        display: flex;
        gap: 10px;
        font-size: 20px;
        padding-right: 5px;
      }
    }
  }

  .copyright {
    margin: 10px 0px 0px 12px;
  }
}
.project {
  background-color: rgb(123, 114, 114);
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  .top {
    background-color: orange;
    position: absolute;
    bottom: 8px;
    right: 8px;
    max-width: 160px;
  }
  h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
  .card {
    margin: 10px 0;
    max-width: 400px;
    border: 1px solid black;

    a {
      color: black;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        border-bottom: 1px solid black;
      }
    }
  }
}
@media (max-width: 768px) {
  body,
  .home {
    width: 100vw;
  }
.paragraph{
  width:80vw;
}
  .home {
    background-size: cover;
    justify-content: safe;
    z-index: 1;
    .menu-button {
      display: block;
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: 8px;
      background-color: rgba(255, 255, 255, 0);
    }
    .me {
      font-size: 37px;
    }
  }
  .project {
    .card {
      max-width: 350px;
    }
  }
  .content {
    justify-content: safe;
    margin-left: 0;
    width: 100vw;
  }
  .about-intro {
    display: flex;

    .about-image {
      display: flex;
      justify-content: center;
    }

    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
    }
  }

  .sidebar {
    width: 0;
    min-width: 0;
    max-width: 0;
    left: -24vw;
  }
}
